$font-poppins: "Poppins", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-inter: "Inter", sans-serif;
$light-grey: #cbcbcb;
$dark-blue: #1d4599;
$dark-red: #a90000;
$purple-blue: #283ab6;
$light-grey-100: #e3e5e5;
$black-100: #5e6366;
$grey-100: #f9f9f9;
$light-blue: #007aff;
$grey-200: #939393;
$grey-300: #f3f3f3;
$grey-400: #f9f9f9;
$grey-500: #c1c1c1;
$grey-600: #f5f5f5;
$light-blue-100: #e1e9fa;
$blue-200: #0e3dcb;
$grey-700: #d9d9d9;
$grey-800: #bababa;
$grey-900: #8c8c8c;
$grey-10: #868686;
$grey-20: #eeeeee;
$grey-30: #e8e8e8;
$grey-40: #989898;
$red-100: #fae1e1;
$red-200: #f40000;
$grey-50: #bebebe;
$white-100: #fbfbfb;
$grey-60: #9d9d9d;
$grey-70: #8a8a8a;
$grey-80: #707174;
$light-black: #4d4d4d;
$grey-light: #a1a1a1;
$dark-grey: #757575;
$scroll-color: #bfbfbf;
$light-grey-200: #f1f1f1;
$red-10: #ff0000;
$blue-10: #2a4f9f;
$grey-1: #c6cacc;
$black-200: #212121;
$dark-grey-100: #919699;
$white-200: #f4f8f9;
$grey-2: #b1b1b1;
$green-100: #34c759;
$grey-2: #848484;
$grey-3: #909090;
$grey-4: #7d7d7d;
$grey-5: #e9e9e9;
$white-300: #f5f5f5;
$grey-6: #999999;
$grey-7: #787878;
$grey-8: #aaaaaa;
$grey-9: #a7a7a7;
$grey-11: #565656;
$grey-12: #f6f6f6;
$grey-13: #858585;
$grey-14: #9b9b9b;
$grey-15: #c2c2c2;
$grey-16: #bbbbbb;
$grey-17: #adadad;
$green-200: #2fe013;
$grey-18: #949494;
$red-300: #ff3838;
$grey-19: #ebebeb;
$grey-21: #7a7a7a;
$grey-22: #a9a9a9;
$grey-23: #c4c4c4;
$dark-100: #333333;
$light-grey-300: #dfdfdf;
$light-blue-200: #2b79e7;
$black-300: #43425d;
$black-400: #0c0c0f;
$dark-50: #252733;
$grey-light-100: #8e8e8e;
$grey-light-300: #767676;
$dark-10: #dedede;
$light-grey-10: #595959;
$green-300: #16b23e;
$dark-200: #363636;
$green-400: #3d9611;
$light-green: #d0f4d9;
$light-grey-20: #dbdbdb;
$dark-grey-200: #6f6f6f;
$light-grey-30: #9e9e9e;
$light-grey-40: #aeaeae;
$dark-20: #5f5f5f;
$dark-30: #959698;
$light-grey-50: #eaeaea;
$light-grey-60: #878787;
$light-yellow: rgba(237, 240, 64, 0.2);
$dark-yellow: #898405;
$light-grey-70: #979797;
$dark-grey-300: #525252;
$light-grey-80: #929292;
$dark-yellow-10: #a2930d;
$light-yellow-10: #fffbe9;
$light-green: #efffec;
$green-500: #077d25;
$grey-100-dark: #7e7e7e;
$red-400: #ff4545;
$light-grey-90: #dcdcdc;
$light-grey-500: #bdbdbd;
$dark-grey-10: #686868;
$dark-grey-400: #676767;
$dark-grey-500: #818181;
$dark-black: #707070;
$green-600: #037d21;
$red-20: #ff3e3e;
$black-500: #313131;
$light-grey-600: #eeedf0;
$light-grey-color: #f0f0f0;
$dark-grey-600: #6c6c6c;
$light-grey-border: #e7e7e7;
$light-blue-300: #3763c1;
$light-blue-400: #e4eef8;
$light-yellow-green: #a1930d;
$green-light: #078e29;
$light-green-100: #cdfbd8;
$dark-grey-700: #626262;
$light-grey-700: #dadada;
$light-grey-800: #888888;
$light-grey-900: #8b8b8b;
$light-grey-1000: #414141;
$green-10: #2fa84f;
$dark-grey-20: #a5a5a5;
$black-600: #040404;
$light-dark-gray-10: #b8b8b8;
$light-pink: #ff7473;
$aqua-10: #4fffaa;
$green-light-10: #adff00;
$purple-10: #cc00ff;
$light-blue-10: #62ffff;
$light-gray-white: #dddddd;
$dark-grey10: #5e6366;
$light-table-grey: #dcdcdc;
$green-700: #0b852a;
$disable_btn: #8f8f8f;
$l-gray: #f7f7f7;
$invitation-grey: #a0a0a0;
$invitation-grey-2: #838383;
$balance-grey: #797979;
$grey-8-light: #6f6f84;
$dark-black-1: #222234;
$red-pink: #bcb0c4;
$select-grey: #a8a8a8;
$grey-icon: #b7b7b7;
$red-req-10: #fc5130;
$green-900: #80d39b;
$yellow-100: #fffbe3;
$yellow-900: #9c8f41;
$grey-23: #9c9c9c;
$green-800: #009927;
$red-900: #cc0000;
$red-910:#c21616;
$light-grey-1100:#8B8B8B;
$light-blue-10:#E1F4FF;
$green-20-light:#80D39B;
$grey-10-icon:#636b70;

$header-color: #767676;
$subheader-color: #767676;
$table-header-color: #767676;
$logout_btn:#f2f2f2;
$light-yellow-20:#cbc28c;
$dark-grey-check:#CCCCCC