.signin {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;

  .ebutlerLogo {
    max-width: 194px;
    width: 100%;
  }

  .signindiv {
    .MuiBox-root {
      width: 100%;
      // height: 189px;

      &.loginbox {
        // height: 232px;
      }
    }

    padding-top: 120px;
    width: 100%;

    .emailspan {
      font-weight: 500;
      font-size: 24px;
      line-height: 10px;
      padding-top: 25px;
      padding-bottom: 28px;
    }

    .MuiInputBase-root {
      &::before {
        border: 0;
        content: none !important;
      }

      background-color: white;
      border: 1px solid $light-grey;
      border-radius: 6px;

      input {
        padding: 0 0 0 15px;
        height: 57px;

        &::placeholder {
          font-weight: 400;
          font-size: 18px;
          line-height: 10px;
          color: #999999;
        }
      }
    }

    // .btn-signin {
    //   color: white;
    //   font-size: 18px;
    //   font-weight: 400;
    //   font-family: $font-poppins;
    //   height: 32px;
    //   margin-top: 27px;
    //   max-width: 197px;
    //   align-self: flex-end;
    //   width: 100%;
    //   text-transform: capitalize;
    //   background-color: $light-grey;
    //   line-height: 11px;
    //   padding: 10px 86px 11px 72px;
    //   border-radius: 6px;
    //   background-color: $dark-blue;
    //   cursor: pointer;

    //   &.disable {
    //     background-color: $light-grey;
    //     margin-top: 7px;
    //   }

    //   &.empty {
    //     background-color: $light-grey;
    //   }

    //   &.login {
    //     align-self: center;
    //     padding: 0;
    //     text-transform: inherit;
    //   }
    // }

    .forgetPass {
      color: $dark-blue;
      font-weight: 400;
      font-size: 14px;
      line-height: 10px;
      text-decoration: none;
      align-self: center;
      padding-top: 20px;
    }

    .errordiv {
      display: flex;
      align-items: center;
      gap: 5px;
      padding-top: 6px;

      .errorspan {
        color: $dark-red;
        font-weight: 400;
        font-size: 11px;
        line-height: 10px;
        padding-bottom: 0 !important;
      }
    }
  }

  .password {
    height: 100%;
    background-color: $yellow-100;
    width: 100%;

    .signindiv {
      .loginbox {
        padding: 33px 30px;
        background-color: white;
        border-radius: 10px;
      }

      .logo_container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 74px;
        margin-bottom: 36px;

        .ebutlerLogo {
          width: 150px;
          height: 74px;
        }
      }

      .login_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin-bottom: 50px;

        .signinheading {
          font-weight: 600;
          font-size: 24px;
          line-height: 10px;
        }

        .signinpara {
          font-weight: 400;
          font-size: 14px;
          line-height: 10px;
        }
      }

      .input-content {
        margin-bottom: 20px;

        .input_container {
          display: flex;
          align-items: center;
          border: 1px solid $light-grey-20;
          height: 61px;
          border-radius: 6px;
          background-color: $l-gray;

          &.errorInput {
            border: 1px solid $dark-red;
            color: $dark-red;
          }

          &__icon {
            padding-right: 17px;
            padding-left: 17px;
            border-right: 1px solid $light-grey;
            display: flex;
          }

          .MuiFormControl-root {
            width: 100%;
          }

          .MuiInputBase-root {
            &::before {
              border: 0;
              content: none !important;
            }

            background-color: $l-gray;
            border: none;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;

            input {
              padding: 0 0 0 15px;
              height: 58px;

              &::placeholder {
                font-weight: 400;
                font-size: 18px;
                line-height: 10px;
                color: #999999;
              }
            }
          }
        }
      }

      .btn-signin {
        color: white;
        font-size: 20px;
        font-weight: 400;
        line-height: 10px;
        font-family: $font-poppins;
        height: 60px;
        margin-top: 16px;
        // max-width: 197px;
        align-self: flex-end;
        width: 100%;
        text-transform: capitalize;
        line-height: 11px;
        // padding: 10px 86px 11px 72px;
        border-radius: 10px;
        background-color: #9c8f41;
        cursor: pointer;

        &.disable {
          background-color: $light-grey;
          margin-top: 7px;
          pointer-events: none;
        }

        &.empty {
          background-color: $light-grey;
        }

        &.login {
          align-self: center;
          padding: 0;
          text-transform: inherit;
        }
      }

      .forgetPassword {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: $invitation-grey;
        text-align: center;
        pointer-events: visible;
        margin-top: 30px;
        &.forget_disable {
          pointer-events: none;
        }
        .forgetPass {
          color: #9c8f41;
          font-weight: 600;
          font-size: 14px;
          line-height: 10px;
          text-decoration: none;
          align-self: center;
          padding-top: 20px;
          text-decoration: underline;
        }
      }
    }
  }

  ::after {
    content: none !important;
  }

  ::before {
    content: none !important;
  }

  // .errorInput {
  //   div {
  //     border: $dark-red !important;

  //     input {
  //       border: 1px solid $dark-red;
  //       color: $dark-red;
  //       font-weight: 400;
  //       font-size: 18px;
  //       line-height: 10px;
  //       border-radius: 6px;
  //     }
  //   }
  // }
}

.setpassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
  .MuiBox-root {
    margin: unset !important;
  }
  .ebutlerLogo {
    max-width: 194px;
    width: 100%;
    padding-bottom: 75px;
  }

  .passwordForm {
    max-width: 518px;
    width: 100%;

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-bottom: 37px;

      .textfield {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
          font-family: $font-poppins !important;
        }

        .MuiFormControl-root {
          max-width: 323px;
          width: 100%;
        }

        span {
          font-weight: 400;
          font-size: 18px;
          line-height: 10px;
          color: black;
        }
      }
    }
  }

  .MuiBox-root {
    padding: 20px 22px 16px 22px;

    .MuiInputBase-root {
      &::before {
        border: 0;
        content: none !important;
      }

      background-color: white;
      border: 1px solid $light-grey;
      border-radius: 6px;

      input {
        padding: 0 0 0 19px;
        height: 51px;

        &::placeholder {
          font-weight: 400;
          font-size: 18px;
          line-height: 10px;
          color: black;
        }
      }
    }
  }

  .confirmbtn {
    width: 197px;
    align-self: center;
    background-color: $yellow-900;
    font-weight: 400;
    font-size: 18px;
    line-height: 10px;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: $font-poppins !important;
  }
  .confirmbtn:hover {
    background-color: $yellow-900;
  }
}

.MuiDialogContent-root {
  border-radius: 6px !important;
  border: 2px solid $yellow-900;

  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: $dark-blue;
    width: 432px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }

  p {
    font-family: $font-poppins;
  }
}

.MuiBackdrop-root {
  opacity: 0.6 !important;
  background-color: white !important;
}

.setpassword {
  .ebutlerLogo {
    max-width: 194px;
    width: 100%;
  }

  .MuiBox-root {
    padding: 20px 13px 13px 13px;
  }

  .findAcount {
    font-weight: 400;
    font-size: 30px;
    line-height: 10px;
    color: black;
    border-bottom: 1px solid black;
    height: 32px;
  }

  .questionspan {
    max-width: 406px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    padding-top: 16px;
  }

  .radiogroupdiv {
    display: flex;
    padding-right: 27px;

    .userdiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 13px;

      .username {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 44px;
      }
    }

    svg {
      color: $yellow-900;

      &:last-child {
        width: 26px;
        height: 26px;
        top: -3px;
        left: -3px;
      }
    }
  }

  .emailcheck {
    .MuiTypography-root {
      font-weight: 400;
      font-size: 16px !important;
      line-height: 24px;
      font-family: $font-poppins;
      padding-top: 23px;
    }
  }

  .continuebtn {
    width: 114px;
    align-self: end;
    font-weight: 400;
    font-size: 18px;
    line-height: 10px;
    text-transform: capitalize;
    padding: 10px 15px;
    background-color: $yellow-900;
    height: 32px;
    font-family: $font-poppins !important;
  }
  .continuebtn:hover {
    background-color: $yellow-900 !important;
  }
}

.reset_link {
  width: 424px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  span {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: $yellow-900;
    width: 336px;
    text-align: center;
  }
}

.MuiDialogContent-root:has(.reset_link) {
  padding: 0 !important;
}
